<div class="general-container">
    <div class="background-container-xsmall" *ngIf="breakpoints['XSmall']">
        <div class="corner-upper-form">
            <img loading="lazy" src="assets/images/corner-form.png">
        </div>
        <div class="corner-upper-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="upper-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="upper-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="center-form">
            <img loading="lazy" src="assets/images/center-form.png">
        </div>
        <div class="lower-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="lower-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="corner-lower-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="corner-lower-form">
            <img loading="lazy" class="corner-lower-form-img" src="assets/images/corner-form.png">
        </div>
    </div>
    <div class="wrapper-xsmall" *ngIf="breakpoints['XSmall']">
        <div class="main-title">
            <span class="span-1">HOLA, </span>
            <span class="span-2">SOY </span>
            <span class="span-3">ADALY</span>
        </div>
        <div class="main-subtitle">
            <span>DESARROLLADOR WEB FRONT-END</span>
        </div>
    </div>
    <div class="background-container-small" *ngIf="breakpoints['Small']">
        <div class="corner-upper-form">
            <img loading="lazy" src="assets/images/corner-form.png">
        </div>
        <div class="corner-upper-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="upper-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="upper-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="center-form">
            <img loading="lazy" src="assets/images/center-form.png">
        </div>
        <div class="lower-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="lower-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="corner-lower-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="corner-lower-form">
            <img loading="lazy" class="corner-lower-form-img" src="assets/images/corner-form.png">
        </div>
    </div>
    <div class="wrapper-small" *ngIf="breakpoints['Small']">
        <div class="main-title">
            <span class="span-1">HOLA, </span>
            <span class="span-2">SOY </span>
            <span class="span-3">ADALY</span>
        </div>
        <div class="main-subtitle">
            <span>DESARROLLADOR WEB FRONT-END</span>
        </div>
    </div>
    <div class="background-container-medium" *ngIf="breakpoints['Medium']">
        <div class="corner-upper-form">
            <img loading="lazy" src="assets/images/corner-form.png">
        </div>
        <div class="corner-upper-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="upper-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="upper-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="center-form">
            <img loading="lazy" src="assets/images/center-form.png">
        </div>
        <div class="lower-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="lower-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="corner-lower-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="corner-lower-form">
            <img loading="lazy" class="corner-lower-form-img" src="assets/images/corner-form.png">
        </div>
    </div>
    <div class="wrapper-medium" *ngIf="breakpoints['Medium']">
        <div class="main-title">
            <span class="span-1">HOLA, </span>
            <span class="span-2">SOY </span>
            <span class="span-3">ADALY</span>
        </div>
        <div class="main-subtitle">
            <span>DESARROLLADOR WEB FRONT-END</span>
        </div>
    </div>
    <div class="background-container-large" *ngIf="breakpoints['Large']">
        <div class="corner-upper-form">
            <img loading="lazy" src="assets/images/corner-form.png">
        </div>
        <div class="corner-upper-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="upper-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="upper-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="center-form">
            <img loading="lazy" src="assets/images/center-form.png">
        </div>
        <div class="lower-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="lower-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="corner-lower-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="corner-lower-form">
            <img loading="lazy" class="corner-lower-form-img" src="assets/images/corner-form.png">
        </div>
    </div>
    <div class="wrapper-large" *ngIf="breakpoints['Large']">
        <div class="main-title">
            <span class="span-1">HOLA, </span>
            <span class="span-2">SOY </span>
            <span class="span-3">ADALY</span>
        </div>
        <div class="main-subtitle">
            <span>DESARROLLADOR WEB FRONT-END</span>
        </div>
    </div>
    <div class="background-container-xlarge" *ngIf="breakpoints['XLarge']">
        <div class="corner-upper-form">
            <img loading="lazy" src="assets/images/corner-form.png">
        </div>
        <div class="corner-upper-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="upper-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="upper-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="center-form">
            <img loading="lazy" src="assets/images/center-form.png">
        </div>
        <div class="lower-big-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="lower-little-bubble">
            <img loading="lazy" src="assets/images/bubble.png">
        </div>
        <div class="corner-lower-contour">
            <img loading="lazy" src="assets/images/corner-contour.png">
        </div>
        <div class="corner-lower-form">
            <img loading="lazy" class="corner-lower-form-img" src="assets/images/corner-form.png">
        </div>
    </div>
    <div class="wrapper-xlarge" *ngIf="breakpoints['XLarge']">
        <div class="main-title">
            <span class="span-1">HOLA, </span>
            <span class="span-2">SOY </span>
            <span class="span-3">ADALY</span>
        </div>
        <div class="main-subtitle">
            <span>DESARROLLADOR WEB FRONT-END</span>
        </div>
    </div>
</div> 