<div class="general-container">
  <div class="wrapper-xsmall" *ngIf="breakpoints['XSmall']">
    <div class="info-container">
      <span>Resido actualmente en México y me especializo en el desarrollo 
        de páginas y aplicaciones web, utilizando las siguientes tecnologías:</span>
    </div>
    <div class="tecnologies-container-xsmall">
      <div class="angular-info-container">
        <img src="assets/icons/AngularIcon.png">
        <span>Angular</span>
      </div>
      <div class="typescript-info-container">
        <img src="assets/icons/TypescriptIcon.png">
        <span>Typescript</span>
      </div>
      <div class="css3-info-container">
        <img src="assets/icons/CSSIcon.png">
        <span>CSS3</span>
      </div>
      <div class="html5-info-container">
        <img src="assets/icons/HTMLIcon.png">
        <span>HTML5</span>
      </div>
      <div class="git-info-container">
        <img src="assets/icons/GITIcon.png">
        <span>git</span>
      </div>
    </div>
    <div class="arm-robot-image-container">
      <img src="assets/images/arm-robot.png">
    </div>
  </div>
  <div class="wrapper-small" *ngIf="breakpoints['Small']">
    <div class="info-container">
      <span>Resido actualmente en México y me especializo en el desarrollo 
        de páginas y aplicaciones web, utilizando las siguientes tecnologías:</span>
    </div>
    <div class="tecnologies-container-small">
      <div class="angular-info-container">
        <img src="assets/icons/AngularIcon.png">
        <span>Angular</span>
      </div>
      <div class="typescript-info-container">
        <img src="assets/icons/TypescriptIcon.png">
        <span>Typescript</span>
      </div>
      <div class="css3-info-container">
        <img src="assets/icons/CSSIcon.png">
        <span>CSS3</span>
      </div>
      <div class="html5-info-container">
        <img src="assets/icons/HTMLIcon.png">
        <span>HTML5</span>
      </div>
      <div class="git-info-container">
        <img src="assets/icons/GITIcon.png">
        <span>git</span>
      </div>
    </div>
    <div class="arm-robot-image-container">
      <img src="assets/images/arm-robot.png">
    </div>
  </div>
  <div class="wrapper-medium" *ngIf="breakpoints['Medium']">
    <div class="info-container">
      <span>Resido actualmente en México y me especializo en el desarrollo 
        de páginas y aplicaciones web, utilizando las siguientes tecnologías:</span>
    </div>
    <div class="tecnologies-container-medium">
      <div class="angular-info-container">
        <img src="assets/icons/AngularIcon.png">
        <span>Angular</span>
      </div>
      <div class="typescript-info-container">
        <img src="assets/icons/TypescriptIcon.png">
        <span>Typescript</span>
      </div>
      <div class="css3-info-container">
        <img src="assets/icons/CSSIcon.png">
        <span>CSS3</span>
      </div>
      <div class="html5-info-container">
        <img src="assets/icons/HTMLIcon.png">
        <span>HTML5</span>
      </div>
      <div class="git-info-container">
        <img src="assets/icons/GITIcon.png">
        <span>git</span>
      </div>
    </div>
    <div class="arm-robot-image-container">
      <img src="assets/images/arm-robot.png">
    </div>
  </div>
  <div class="wrapper-large" *ngIf="breakpoints['Large']">
    <div class="info-container">
      <span>Resido actualmente en México y me especializo en el desarrollo 
        de páginas y aplicaciones web, utilizando las siguientes tecnologías:</span>
    </div>
    <div class="tecnologies-container-large">
      <div class="angular-info-container">
        <img src="assets/icons/AngularIcon.png">
        <span>Angular</span>
      </div>
      <div class="typescript-info-container">
        <img src="assets/icons/TypescriptIcon.png">
        <span>Typescript</span>
      </div>
      <div class="css3-info-container">
        <img src="assets/icons/CSSIcon.png">
        <span>CSS3</span>
      </div>
      <div class="html5-info-container">
        <img src="assets/icons/HTMLIcon.png">
        <span>HTML5</span>
      </div>
      <div class="git-info-container">
        <img src="assets/icons/GITIcon.png">
        <span>git</span>
      </div>
    </div>
    <div class="arm-robot-image-container">
      <img src="assets/images/arm-robot.png">
    </div>
  </div>
  <div class="wrapper-xlarge" *ngIf="breakpoints['XLarge']">
    <div class="info-container">
      <span>Resido actualmente en México y me especializo en el desarrollo 
        de páginas y aplicaciones web, utilizando las siguientes tecnologías:</span>
    </div>
    <div class="tecnologies-container-xlarge">
      <div class="angular-info-container">
        <img src="assets/icons/AngularIcon.png">
        <span>Angular</span>
      </div>
      <div class="typescript-info-container">
        <img src="assets/icons/TypescriptIcon.png">
        <span>Typescript</span>
      </div>
      <div class="css3-info-container">
        <img src="assets/icons/CSSIcon.png">
        <span>CSS3</span>
      </div>
      <div class="html5-info-container">
        <img src="assets/icons/HTMLIcon.png">
        <span>HTML5</span>
      </div>
      <div class="git-info-container">
        <img src="assets/icons/GITIcon.png">
        <span>git</span>
      </div>
    </div>
    <div class="arm-robot-image-container">
      <img src="assets/images/arm-robot.png">
    </div>
  </div>
</div>