html, body
  width: 100%
  overflow: hidden
  margin: 0
  padding: 0

.mat-tooltip
  font-size: 16px

@font-face
  font-family: 'Chloe'
  src: url('./assets/fonts/Chloe-Regular.otf')

@font-face
  font-family: 'IBM Plex Sans Thai Looped Regular'
  src: url('./assets/fonts/IBMPlexSansThaiLooped-Regular.ttf')

@font-face
  font-family: 'Garet-Book'
  src: url('./assets/fonts/Garet-Book.ttf')

@font-face
  font-family: 'Garet-Heavy'
  src: url('./assets/fonts/Garet-Heavy.ttf')
  
@font-face
  font-family: 'Cerebri Sans Bold'
  src: url('./assets/fonts/CerebriSansPro-Bold.ttf')

@font-face
  font-family: 'Computer Says No'
  src: url('./assets/fonts/Computer-Says-No.ttf')